<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Форма паспортных данных</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<form action="#" method="POST" enctype="multipart/form-data">
		<fieldset>
			<legend>Лицевая сторона паспорта</legend>
			<label for="phone">Телефон</label>
			<input type="text" name="phone" id="phone">
			<label for="email">E-mail</label>
			<input type="email" name="email" id="email">
			<label for="surname">Фамилия</label>
			<input type="text" name="surname" id="surname">
			<label for="name">Имя</label>
			<input type="text" name="name" id="name">
			<label for="middlename">Отчество</label>
			<input type="text" name="middlename" id="middlename">
			<label for="sex">Пол</label>
			<select name="sex" id="sex">
				<option value="male">Мужской</option>
				<option value="female">Женский</option>
			</select>
			<label for="date_of_birth">Дата рождения</label>
			<input type="date" name="date_of_birth" id="date_of_birth">
			<label for="town_of_birth">Место рождения</label>
			<input type="text" name="town_of_birth" id="town_of_birth">
			<label for="citizenship">Гражданство</label>
			<input type="text" name="citizenship" id="citizenship">
			<label for="passport_series">Серия паспорта</label>
			<input type="text" name="passport_series" id="passport_series">
			<label for="passport_number">Номер паспорта</label>
			<input type="text" name="passport_number" id="passport_number">
			<label for="passport_office">Выдан</label>
			<input type="text" name="passport_office" id="passport_office">
			<label for="passport_date">Дата выдачи</label>
			<input type="date" id="passport_date">
		<label for="division_code">Код подразделения</label>
		<input type="text" name="division_code" id="division_code">
	</fieldset>
	<fieldset>
		<legend>Адрес регистрации</legend>
		<label for="region">Регион</label>
		<input type="text" name="region" id="region">
		<label for="district">Район</label>
		<input type="text" name="district" id="district">
		<label for="town">Город</label>
		<input type="text" name="town" id="town">
		<label for="locality">Населенный пункт</label>
		<input type="text" name="locality" id="locality">
		<label for="street">Улица</label>
		<input type="text" name="street" id="street">
		<label for="house">Дом</label>
		<input type="text" name="house" id="house">
		<label for="corpus">Корпус/Строение</label>
		<input type="text" name="corpus" id="corpus">
		<label for="flat">Квартира</label>
		<input type="text" name="flat" id="flat">
		<label for="address_index">Почтовый индекс</label>
		<input type="text" name="address_index" id="address_index">
	</fieldset>
	<fieldset>
		<legend>Действие</legend>
		<input type="radio" name="action" id="create" value="create" class="radio-btn" checked>
		<label for="create">Создаём</label>
	</fieldset>

	<input type="submit" value="Отправить">
</form>

